body
{
	padding-top: 50px;
}

.todolist
{
	background-color: #fffcfc;
	background-image: url("http://www.transparenttextures.com/patterns/cream-paper.png");
}

.transparent-bg
{
	background-color: transparent;
}